/* styles.css */
body {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

header, footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
}

article {
    flex: 2;
    padding: 1rem;
    overflow-y: auto;
    background-color: #f9f9f9;
}

aside {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    background-color: #f0f0f0;
}

/* Additional styling for better visualization */
header, footer, main, article, aside {
    border: 1px solid #ccc;
}

/* For smartphones */
@media (max-width: 599px) {
    body {
      background-color: lightcoral;
    }
    h1 {
      font-size: 1.5em;
    }
  }
